{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="row">
    {% for post in object_list %}
        <div class="col-md-3">
        <article class="card my-1">
            <header class="card-header">
              <div class="card-meta">
                <small> by : {{post.author}}</small><br>
                <time>{{post.post_date}}</time> in <a href="{% url 'category' post.category|slugify  %}" class="ctg-link">{{post.category}}</a>
              </div>
              <a href="{% url 'article-detail' post.pk %}">
                <h4 class="card-title"><a href="{% url 'article-detail' post.pk %}">{{post.title}}</a></h4>
              </a>
            </header>
            <a href="{% url 'article-detail' post.pk %}">
                {% if post.header_img %}
              <img class="card-img home-post" src="{{ post.header_img.url }}" alt="" />
              {% endif %}
            </a>
            <div class="card-body cb-home">
              <p class="card-text">{{post.body|slice:":200"|safe}}</p>
            </div>
          </article>

        </div>
    {%endfor %}
  </div>
{% endblock%}

    
