@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif:700);
.container-fluid{
    padding: 6rem;
}

.navbar-brand{
    color: black;
    font-size: 30px;
    font-family: 'PT Serif', serif;
}
header{
    padding-bottom: 12px;
    padding-top: 12px;
}
.navbar-nav .nav-item .nav-link,
.dropdown-menu .dropdown-item{
    font-family: sans-serif;
}

.card-meta .ctg-link{
    font-weight: 500;
    color: black;
    text-decoration: underline;
}
.divider{
    background-color:rgba(0, 0, 0, 0.616) ;
}
.card-title a{
    font-family: 'PT Serif', serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 300;
    font-size: 21px;
}
h1,.card-title{
    font-family: 'PT Serif', serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 300;
    font-size: 25px;
}
main .card-title{
    margin-top: 14px;
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 300;
    font-size: 36px;
}

.card{
    border-radius: 0px;
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}
.home-post{
    width: 100%;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}
.home-post:hover{
    transform: translateY(-7px);
    box-shadow: 0px 0px 0px -5px rgba(0,0,0,0.63);
    -webkit-box-shadow: 2px 15px 20px -5px rgba(0,0,0,0.63);
    -moz-box-shadow: 2px 15px 20px -5px rgba(0,0,0,0.63);
}
.card-header a{
    text-decoration: none;
    color: black;
    font-style: bold;
}
.cb-home{
    padding: 25px;
}
.site-newsletter{
    background-color: #F2F4F5;
}
.site-newsletter h3{
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 400;
    font-size: 24px;
}
.input-group .frm{
    border-radius: 0px;
}
.input-group-btn .btn{
    border-radius: 0px;
    font-family: "PT Sans Caption", sans-serif;
    line-height:21px;
    font-weight: 700;
    text-transform: uppercase;
}
.profile_pic{
    width: 80%;
}
.profile_pic_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebar-sticky {
    position: sticky;
    top: 0px;
}
aside {
    display: block;
}
footer{
    background-color: #050506;
    color: #48484b;
    padding: 25px;
}
footer h4{
    font-size: 17px;
    font-family: 'Roboto';
}
/* login style */
.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-container .login{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}
/* register style */
.register-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.register-container .register{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.sidebar h4{
    font-family: 'PT Serif', serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 300;
}

.profile-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.helptext{
    display: none;
}
#id_password{
    display: none;
}

.comments{
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 400;
    font-size: 27px;
}
.comment-section h6 {
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 400;
}
.u-d-btns a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-family: 'PT Serif', serif;
}
.btn-sm{
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 400;
    background-color: #e2e5e7;
}

.btn-unlike,.btn-like{
    border: none;
    color: red;
    background-color: white;
}
.password-ruls{
    color: rgba(255, 0, 0, 0.788);
}
.btn-publish{
    background-color: rgb(63, 182, 24);
    color: rgb(255, 255, 255);
    border-color: rgb(63, 182, 24);
    border-radius: 0px;
    font-family: "PT Sans Caption", sans-serif;
    line-height:21px;
    font-weight: 700;
    text-transform: uppercase;
}
.profile_pic{
    width: 100%;
    height: 100%;
}