{% extends 'base.html' %}
<title>{% block title%}Settings{% endblock%}</title>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Edit Settings</h1>
            <br>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                {{form.as_p}}
                <a href="{% url 'change_pass' %}" class="chng-pass">Change your password</a><br>
                <button class="btn btn-success mt-3">Update Settings</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock%}